.img {
  margin-left: 50px;
  width: 200px;
  height: 100%;
}

.container {
  display: flex;
}

.title {
  padding-left: 20px;
}

.genres {
  padding-left: 40px;
}

.infa {
  margin-top: 20px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  width: 1400px;
}

.list {
  padding-left: 50px;
}
.back {
  display: flex;
  width: 80px;
  height: 20px;
  position: relative;
  padding-left: 20px;
  text-align: center;
  box-shadow: 2px 2px 5px rgb(165, 166, 166);
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 12px;
}

.icon {
  position: absolute;
  top: 4px;
  left: 4px;
}
