.back {
  display: flex;
  width: 70px;
  height: 20px;
  position: relative;
  padding-left: 20px;
  text-align: center;
  box-shadow: 2px 2px 5px rgb(165, 166, 166);
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 12px;
}

.icon {
  position: absolute;
  top: 4px;
  left: 4px;
}
